<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- pestaña -->
    <title>REBEL - About Us</title>
    <link rel="icon" href="./resources/logo/REBEL.png">

    <!-- fuentes / heroicons.com (SVG) / tablericons.com (SVG) -->

    <!-- css -->
    <link rel="stylesheet" href="./css/tailwind.css">

</head>

<body class="hidden">

    <!-- P A G I N A -->
    <div id="app">
        <!-- O N L O A D -->
        <div id="onload">
            <img src="./resources/logo/REBEL.png" alt="">
            <div>
                <div class="loader">
                    <svg viewBox="0 0 80 80">
                        <circle id="test" cx="40" cy="40" r="32"></circle>
                    </svg>
                </div>

                <div class="loader triangle">
                    <svg viewBox="0 0 86 80">
                        <polygon points="43 8 79 72 7 72"></polygon>
                    </svg>
                </div>

                <div class="loader">
                    <svg viewBox="0 0 80 80">
                        <rect x="8" y="8" width="64" height="64"></rect>
                    </svg>
                </div>
            </div>
        </div>

        <!-- E N C A B E Z A D O -->
        <header>
            <!-- N A V   B U S C A D O R -->
            <nav class="nav-search contenedor">

                <a href="index.html" class="logo-name">

                    <img class="logo-and-name" src="./resources/logo/REBEL-horizontal.png" alt="rebel-logo">
                    <img class="logo-responsive " src="./resources/logo/REBEL.png" alt="rebel-logo">

                </a>

                <div class="user-section">

                    <!-- R E G I S T R A D O -->
                    <a v-if="existClient == true" href="favs.html">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>
                    </a>

                    <a href="cart.html">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="6" cy="19" r="2" />
                            <circle cx="17" cy="19" r="2" />
                            <path d="M17 17h-11v-14h-2" />
                            <path d="M6 5l14 1l-1 7h-13" />
                        </svg>
                    </a>

                    <a href="user.html">
                        <svg v-if="existClient == true" xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-user-circle" width="44" height="44" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#FE59D7" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="12" r="9" />
                            <circle cx="12" cy="10" r="3" />
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                        </svg>
                    </a>

                    <!-- N O   R E G I S T R A D O -->
                    <div v-if="existClient == false" class="no-register">
                        <a href="sesion.html">Log In | Register</a>
                    </div>

                </div>

            </nav>

            <!-- N A V   C A T E G O R I A S -->
            <nav class="nav-categories contenedor">

                <a href="index.html">Home</a>
                <a href="search.html">Shop</a>
                <a class="texto-active" href="#">About Us</a>
                <a href="contact.html">Contact Us</a>

            </nav>

            <!-- N A V   S I D E B A R -->
            <nav class="sidebar-categories">

                <span>Navigation</span>

                <a href="index.html">Home</a>
                <a href="search.html">Shop</a>
                <a class="texto-active" href="#">About Us</a>
                <a href="contact.html">Contact Us</a>

                <div @click="moveSidebar" class="span-categories">
                    <span class="span-categories">Navigation</span>
                    <div id="button-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </nav>

        </header>

        <!-- C O N T E N T -->
        <section class="m-0 contenedor section-about">
            <div class="img"></div>
            <div class="text-login text-about">
                <h3 class="colorado">About REBEL</h3>
                <p>Rebel Games established in Sep.2022. As the most competitive tradeing platform for virtual
                    service on MMORPG. We already have over 1 million registered members,from more than 100
                    countries worldwide, You can safely supply game related needs such as game golds, items,
                    prepaid cards, Power Leveling from this market.</p>
                <p>We are certified sallers in PayPal .Also we are PaymentWall partners, we accept Credits
                    Card, Webmoney and other methods of payments</p>
                <p>After houndreds operations, our website is so well-known for gamers all around the world; we
                    guaranteed to supply personalized service and products to worldwide game players. Feel free
                    to contact us on 24/7. Our Customer service reps are waiting to help enhance your gaming
                    experience.</p>
            </div>
            <section class=" body-font">
                <div class=" px-5 py-12 mx-auto">
                    <div class="flex flex-wrap -m-4 text-center">
                        <div class="p-4 sm:w-1/4 w-1/2">
                            <h2 class="title-font font-medium sm:text-4xl text-3xl">2.7K</h2>
                            <p class="leading-relaxed">Users</p>
                        </div>
                        <div class="p-4 sm:w-1/4 w-1/2">
                            <h2 class="title-font font-medium sm:text-4xl text-3xl">1.8K</h2>
                            <p class="leading-relaxed">Sales</p>
                        </div>
                        <div class="p-4 sm:w-1/4 w-1/2">
                            <h2 class="title-font font-medium sm:text-4xl text-3xl">70</h2>
                            <p class="leading-relaxed">Video games</p>
                        </div>
                        <div class="p-4 sm:w-1/4 w-1/2">
                            <h2 class="title-font font-medium sm:text-4xl text-3xl"> %10</h2>
                            <p class="leading-relaxed">Disccount</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- B U S I N E S S -->
            <section class="">
                <div class="text-login text-about text-about-2">
                    <h3 class="colorado">our main investors</h3>
                </div>
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide"><img src="./resources/business/business (1).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (2).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (3).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (4).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (5).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (6).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (7).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (8).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (9).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (1).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (2).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (3).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (4).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (5).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (6).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (7).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (8).png" alt=""></div>
                        <div class="slide"><img src="./resources/business/business (9).png" alt=""></div>
                    </div>
                </div>
            </section>
            <div class="text-login text-about">
                <h3 class="colorado">Our producers</h3>
                <p>REBEL was founded on the basis of a group of 7 people that we can divide into two groups 3 people led
                    by Felipe Becerra.</p>
                <p>In the front part and those in charge of the design, aesthetics and functionality of our beautiful
                    page are Santino
                    Stimoli as group manager, Mariano Áviles as designer, Erick Barraza as developer and Lautaro Yosbere
                    as the logic
                    manager in this group.</p>
                <p>Then in the part of the construction of our database we had the participation of the systems engineer
                    Matias Cevini and
                    our leader and the only Colombian among many Argentines, Felipe Becerra, self-proclaimed as the
                    number one fan of borja
                    and the founder of Borjismo in the world.</p>
            </div>
            <div class="text-login text-about text-about-2">
                <h3 class="colorado">We work with</h3>
                <div class="slider slider2">
                    <div class="slide-track">
                        <div class="slide"><img src="./resources/banks/santi.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/mati.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/erick.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/lauti.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/santi.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/mati.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/erick.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/lauti.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/santi.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/mati.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/erick.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/lauti.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/santi.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/mati.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/erick.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/lauti.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/santi.png" alt=""></div>
                        <div class="slide"><img src="./resources/banks/mati.png" alt=""></div>
                    </div>
                </div>
            </div>

        </section>

        <!-- F O O T E R -->
        <footer class="body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
                <a class="flex title-font font-medium items-center md:justify-start justify-center ">
                    <img class="logo" src="./resources/logo/REBEL.png" alt="">
                    <span class="ml-3 text-xl">REBEL GAMES</span>
                </a>
                <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2  sm:py-2 sm:mt-0 mt-4">©
                    2022
                    REBEL —
                    <a href="https://twitter.com/knyttneve" class=" ml-1" rel="noopener noreferrer"
                        target="_blank">@rebel.com</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg>
                    </a>
                    <a class="ml-3 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="4" />
                            <circle cx="12" cy="12" r="3" />
                            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                        </svg>
                    </a>
                    <a class="ml-3 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="11" x2="8" y2="16" />
                            <line x1="8" y1="8" x2="8" y2="8.01" />
                            <line x1="12" y1="16" x2="12" y2="11" />
                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg>
                    </a>
                    <a class="ml-3 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="44"
                            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FE59D7" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                        </svg>
                    </a>
                </span>
            </div>
        </footer>

    </div>


    <!-- S C R I P T S -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- axios -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> <!-- michalsnik.github.io/aos/ -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert2.github.io -->
    <script src="https://unpkg.com/vue@3"></script> <!-- vue -->
    <script src="./js/main.js"></script> <!-- js -->

</body>

</html>